.block
    .block-title
        font-style: italic
    &-call_to_action
        .call_to_action
            &--without-image
                .description
                    @include full-page
                        max-width: columns(7) !important
        .actions
            *
                font-family: $font-sans !important
    &-chapter
        &--accent_background
            .chapter
                .text
                    @include media-breakpoint-up(desktop)
                        width: 100% !important
                        font-size: $h1-size-desktop
                        line-height: $h1-line-height
        &--with-image
            .chapter
                align-items: center
    &-gallery
        &--carousel
            .slider
                figure
                    margin-right: var(--grid-gutter)
    &-pages
        &--cards
            // Jolis cercles
            .cards
                text-align: center
                .card
                    padding-left: 0 !important
                    padding-right: 0 !important
                p
                    @include small
                img
                    aspect-ratio: 1 !important
                    border-radius: 100%
                .more
                    @include meta
                    @include icon(arrow-right-line, after)
                        font-size: pxToRem(16)
                    @include hover-translate-icon
                    text-decoration: none
                    justify-content: center

    
                //     @include arrow-right-hover
                //     @include icon(arrow-right-line, after)
                //         font-size: pxToRem(40)
                //     @include link($block-pages-card-page-color)
                //     position: relative
                //     margin-top: auto
                //     padding-top: $spacing-3
                // &:hover
                //     .more:after
                //         opacity: 1
                //         transform: translateX(pxToRem(7))


                @include full-page
                    grid-template-columns: repeat(4, 1fr)
        &--grid
            // Grands titres
            @include media-breakpoint-up(desktop)
                padding-bottom: $spacing-5
                padding-top: $spacing-5
                .grid
                    article
                        border-right: solid 1px $color-border
                        padding-bottom: $spacing-5
                        padding-top: $spacing-5
                        &:nth-of-type(3)
                            border-right: none
                        .media
                            display: none
                    .page-title
                        text-align: center
                        a
                            @include h2
                            &::after
                                display: block
    &-posts
        &--highlight
            .list
                article
                    .post-title,
                    .post-subtitle
                        @include h3
