@include media-breakpoint-up(desktop)
    body:not(.full-width),
    .organizations__page
        .toc-cta,
        .toc-container
            display: none
        .blocks
            .block
                &-title
                    h2
                        padding-left: offset(3)
                        width: columns(9)
                &-chapter
                    .block-content
                        padding-left: offset(3)
                        .text
                            width: columns(6)
                &-image
                    .block-content
                        padding-left: offset(3)
                &-links
                    .block-content
                        margin-left: offset(3)
                        width: columns(6)
                        .links
                            display: block
                            li
                                display: flex
                                flex-direction: row-reverse
                                .media
                                    width: columns(2)
                &-gallery
                    .container
                        .block-content
                            padding-left: 0
                &-pages
                    .block-content
                        padding-left: 0
                        .grid
                            grid-template-columns: repeat(3, 1fr)