.organizations
    &__page
        @include media-breakpoint-up(desktop)
            .contacts-details
                margin-left: offset(3)
                width: columns(6)
    &__section
        .organizations
            margin-top: 0
            @include media-breakpoint-down(desktop)
                display: block !important
                .organization
                    margin-bottom: $spacing-4
            @include media-breakpoint-up(desktop)
                grid-template-columns: repeat(3, 1fr) !important
            .organization-title
                a
                    @include h3
.organization
    .media
        background: none
        padding: 0
        picture
            aspect-ratio: auto
            img
                aspect-ratio: 14/9
                object-fit: cover
