// Slightly variable fonts
html
    @include media-breakpoint-up(desktop)
        font-size: Min(Max(1vw, 13px), 16px)

header#document-header
    border-bottom-color: rgba(255, 255, 255, 0.15)
    // No "menu" label on mobile, logo is too big 
    nav:not(.upper-menu)
        .header-button
            span:first-of-type
                display: none
    @include media-breakpoint-down(desktop)
        .dropdown-menu-heading
            display: none
        .nav-level-2
            margin-top: 0
        .menu *
            border-bottom-color: rgba(255, 255, 255, 0.3)

// Waiting for https://github.com/osunyorg/theme/issues/835
.pages__section
    .document-content
        > .block-pages
            p
                display: none

.posts--grid
    .post
        margin-bottom: $spacing-4
        @include media-breakpoint-down(desktop)
        .post-title
            margin-bottom: $spacing-2

// Remove all © signs
figcaption
    &::before
        display: none !important
    .credit
        p
            span
                display: none !important

footer#document-footer
    padding-top: var(--grid-gutter)
    margin-top: $spacing-5
    display: flex
    flex-direction: column-reverse
    // Logo below
    .container:first-of-type
        justify-content: center
        padding-bottom: 0

        @include media-breakpoint-down(desktop)
            .footer-logo
                margin-top: $spacing-4
                margin-bottom: $spacing-4
                .logo
                    img
                        display: block
                        margin: 0 auto
            .footer-site
                display: none
    .container:last-of-type
        align-items: start
        margin-top: 0
        padding-top: 0
        padding-bottom: $spacing-5
        .footer-social
            li::after,
            a::after
                display: none
        .site-links
            margin-top: $spacing-2
            li
                margin-top: $spacing-2
                